[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
rope = "*"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
plotly = "*"
google-cloud-datastore = "*"
google-cloud-firestore = "*"

[requires]
python_version = "3.7"
