[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
rope = "*"

[packages]
tabulate = "*"
flask = "*"
autopep8 = "*"
pylint = "*"
setuptools = "*"
flask-cors = "*"
python-dateutil = "*"
flask-pymongo = "*"
dnspython = "*"

[requires]
python_version = "3.7"
