$today-highlight-bg: lighten(rgb(31, 36, 41), 15);

$event-bg: lighten(rgba(68, 3, 129, 1), 10);
$event-border-radius: 0;

$out-of-range-bg-color: rgb(31, 36, 41);
$out-of-range-color: lighten(rgb(31, 36, 41), 18);

$active-background: lighten(rgb(36, 41, 46), 25);

@import '../../node_modules/react-big-calendar/lib/sass/styles';

.rbc-btn-group button {
  color: white;
}
