.balance {
    width: 75vw; 
    float: right;
    clear: right;
}

.budget { 
    width: 15vw;
    float: left;
    clear: left;
}

/* stats */
.table {
    width: 25vw;
    float: left;
    clear: left;
}

/* bills */
.tx-table {
    width: 65vw;
    float: left;
    clear: right;
}

html {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    color: white;
    background-color: #222
}

th, td {
    color: white !important;
}

a {
    color: yellow;
    text-decoration: none
}

input, select {
    color: white;
    background: #222;
    border: 1px solid #eee;
    padding: 2px 8px;
    margin: 4px;
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-weight: 100;
    text-transform: uppercase;
}

@media only screen and (max-width: 755px) {
    html {
        padding: 5px;
    }
    .budget{
        width: 70vw;
        margin-left: 15vw;
    }
    .balance {
        width: 95vw;
        float: none;
    }
    .table {
        width: 95vw;
    }
    .tx-table {
        width: 95vw;
        overflow-x: hidden;
        margin-top: 5px;
        clear: both;
    }
    h2 {
        font-size: 1.1em;
    }
}