.balance {
    width: 75vw; 
    margin-left: 10px;
    float: right;
    clear: right;
}

.budget { 
    width: 15vw;
    float: left;
    clear: left;
}

/* stats */
.table {
    width: 25vw;
    float: left;
    clear: left;
}

/* bills */
.tx-table {
    width: 65vw;
    float: left;
    clear: right;
    margin-left: 1vw;
}

html {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-weight: 100;
    text-transform: uppercase;
}

@media only screen and (max-width: 755px) {
    html {
        padding: 5px;
    }
    .budget{
        width: 30vw;
        height: 30vw;
        clear: none;
        float: right;
    }
    .balance {
        width: 95vw;
        float: none;
    }
    .table {
        width: 65vw;
        float: left;
    }
    .tx-table {
        width: 100%;
        float: right;
        overflow-x: hidden;
        margin-top: 5px;
        clear: both;
    }
    h2 {
        font-size: 1.1em;
    }
}